<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload your CSV</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="frame">
      <div class="center">
        <div class="title">
          <h1>Drop file to upload</h1>
        </div>

        <div class="dropzone">
          <img
            src="http://100dayscss.com/codepen/upload.svg"
            class="upload-icon"
          />
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" class="upload-input" name="file" />
            <button type="submit" class="btn" name="uploadbutton">
              Upload file
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
